<div class="news">
  {% if site.posts != blank %}
    {% assign posts_size = site.posts | size %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign latest_posts_limit = include.limit | default: 3 %}
        {% for item in site.posts limit: latest_posts_limit %}
          <tr>
            <td style="width: 100%; border: none;">
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No posts so far...</p>
  {% endif %}
</div>
